In [2]:
import pandas as pd
import numpy as np

# Setting a random seed for reproducibility
np.random.seed(42)

# Number of instances, timepoints, and variables
n_instances = 3
n_timepoints = 5
n_variables = 4

# Generating random data
data = np.random.randn(n_instances * n_timepoints, n_variables)

# Create multiindex
arrays = [[f"instance_{i+1}" for i in range(n_instances) for _ in range(n_timepoints)],
          list(range(1, n_timepoints+1)) * n_instances]
index = pd.MultiIndex.from_arrays(arrays, names=('instances', 'timepoints'))

# Create DataFrame
df = pd.DataFrame(data, index=index, columns=[f"var_{i+1}" for i in range(n_variables)])

print(df)

                          var_1     var_2     var_3     var_4
instances  timepoints
instance_1 1           0.496714 -0.138264  0.647689  1.523030
           2          -0.234153 -0.234137  1.579213  0.767435
           3          -0.469474  0.542560 -0.463418 -0.465730
           4           0.241962 -1.913280 -1.724918 -0.562288
           5          -1.012831  0.314247 -0.908024 -1.412304
instance_2 1           1.465649 -0.225776  0.067528 -1.424748
           2          -0.544383  0.110923 -1.150994  0.375698
           3          -0.600639 -0.291694 -0.601707  1.852278
           4          -0.013497 -1.057711  0.822545 -1.220844
           5           0.208864 -1.959670 -1.328186  0.196861
instance_3 1           0.738467  0.171368 -0.115648 -0.301104
           2          -1.478522 -0.719844 -0.460639  1.057122
           3           0.343618 -1.763040  0.324084 -0.385082
           4          -0.676922  0.611676  1.031000  0.931280
           5          -0.839218 -0.309212  0.331263  0.975545

In [3]:
from sktime.transformations.panel.pca import PCATransformer
pca = PCATransformer()
pca.fit_transform(df)

                         var_1     var_2     var_3     var_4
instances timepoints
0         0          -0.403562 -0.074040  0.447832  1.590637
          1           0.518199  0.046883  1.590019  0.034016
          2          -0.227309  1.046618 -0.216404 -0.799552
          3           0.391448 -1.126842 -1.767793 -0.278337
          4          -0.465103  0.965792 -0.273042 -1.332338
1         0           0.565372 -0.161552 -0.132328 -1.357141
          1           0.207970  0.391942 -1.140187 -0.357720
          2          -0.358474  0.212364 -0.354693  1.518456
          3           0.135988 -0.271273  0.779669 -0.936893
          4           0.756592 -1.308125 -0.693204  0.276827
2         0          -0.161810  0.235592 -0.315504 -0.233496
          1          -0.726169 -0.438825 -0.449832  0.323704
          2           0.585783 -1.258982  0.571097 -0.718904
          3          -0.527436  1.398115  0.988124  1.215230
          4          -0.291489  0.342333  0.966246  1.055511

In [6]:
new_inner_indices = df.groupby(level=0).cumcount()
new_index = [(x[0], idx) for x, idx in zip(df.index.get_level_values(0), new_inner_indices)]
df.index = pd.MultiIndex.from_tuples(new_index, names=('instances', 'new_timepoints'))
df

                             var_1     var_2     var_3     var_4
instances new_timepoints
i         0               0.496714 -0.138264  0.647689  1.523030
          1              -0.234153 -0.234137  1.579213  0.767435
          2              -0.469474  0.542560 -0.463418 -0.465730
          3               0.241962 -1.913280 -1.724918 -0.562288
          4              -1.012831  0.314247 -0.908024 -1.412304
          0               1.465649 -0.225776  0.067528 -1.424748
          1              -0.544383  0.110923 -1.150994  0.375698
          2              -0.600639 -0.291694 -0.601707  1.852278
          3              -0.013497 -1.057711  0.822545 -1.220844
          4               0.208864 -1.959670 -1.328186  0.196861
          0               0.738467  0.171368 -0.115648 -0.301104
          1              -1.478522 -0.719844 -0.460639  1.057122
          2               0.343618 -1.763040  0.324084 -0.385082
          3              -0.676922  0.611676  1.031000  0.931280
          4              -0.839218 -0.309212  0.331263  0.975545